<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="employees" connectionString="Server=127.0.0.1,3306;Uid=root;Pwd=1234;Database=employees"/>
    <add name ="myDB" connectionString="Server=127.0.0.1,3306;Uid=root;Pwd=1234;Database=gudi"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>